
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PartsVendors.Units.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new TemcoPartsVendors.PartsVendors.UnitsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>