
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PartsVendors.ExchangeRate.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new TemcoPartsVendors.PartsVendors.ExchangeRateGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>